.ant-pro-table-list-toolbar-container{
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.ant-space.ant-space-horizontal.ant-space-align-center.ant-pro-table-list-toolbar-right{
  align-items: baseline;
}

table .ant-table-cell .ant-tag {
  padding:3px 12px;
  font-weight: 500;
}

.search-filters-button {
  margin-right: 10px;
}

.CsvButton {
  margin-left: 15px;
}

.advanced-table-header>.advanced-table-header-defaults>.cm-select-button> .ant-select-selector:hover {
  cursor: pointer;
}


.UsernameFaultCount.ant-table-wrapper .ant-table.ant-table-small .ant-table-thead .ant-table-cell,
.UsernameFaultCount.ant-table-wrapper .ant-table-container .ant-table-content table .ant-table-tbody{
  background-color: rgba(0,0,0,.75);
  color: #fff;
  border: none;
  pointer-events: none !important;
  font-weight: 300;
}

.UsernameFaultCount.ant-table-wrapper .ant-table-container .ant-table-content table,
.UsernameFaultCount.ant-table-wrapper .ant-table-container .ant-table-content table .ant-table-tbody .ant-table-cell,
.UsernameFaultCount.ant-table-wrapper .ant-table-container .ant-table-content table .ant-table-tbody{
  border: none;
}
